/* google font  */

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

.nav-text nav a {
    color: #ffffff;
}

.nav-text nav ul li a {
    margin-left: 30px;
    font-size: 20px;
    text-transform: uppercase;
}